Repository Safe-DS/DSL: changes, and which Codecov flags are due for each by the changed paths.
All: dsl, runner, dsl-langium

codecov.yml:

codecov:
  notify:
    after_n_builds: 3

comment:
  layout: 'header, diff, flags, components, files'

component_management:
  individual_components:
    - component_id: module_dsl
      name: dsl
      paths:
        - DSL/**
    - component_id: module_runner
      name: runner
      paths:
        - Runner/**
    - component_id: module_dsl_langium
      name: dsl-langium
      paths:
        - DSL-langium/**

ci: configure Dependabot for the Langium component (#456)
  .github/dependabot.yml
Due: none

build: bump Gradle to version 8
  DSL/gradle/wrapper/gradle-wrapper.jar
  DSL/gradle/wrapper/gradle-wrapper.properties
  DSL/gradlew
  DSL/gradlew.bat
Due: dsl

build: bump Gradle to version 8 (#467)
  DSL/gradle/wrapper/gradle-wrapper.jar
  DSL/gradle/wrapper/gradle-wrapper.properties
  DSL/gradlew
  DSL/gradlew.bat
Due: dsl

build: bump VS Code engine
  DSL-langium/package-lock.json
  DSL-langium/package.json
Due: dsl-langium

test: improve test for `listTestResources`
  DSL-langium/tests/helpers/testResources.test.ts
  DSL-langium/tests/helpers/testResources.ts
  DSL-langium/tests/resources/helpers/listTestResources/not a safe-ds file.txt
  DSL-langium/tests/resources/helpers/listTestResources/pipeline file.sdspipe
  DSL-langium/tests/resources/helpers/listTestResources/skip pipeline file.sdspipe
  DSL-langium/tests/resources/helpers/listTestResources/skip stub file.sdsstub
  DSL-langium/tests/resources/helpers/listTestResources/skip test file.sdstest
  DSL-langium/tests/resources/helpers/listTestResources/stub file.sdsstub
  DSL-langium/tests/resources/helpers/listTestResources/test file.sdstest
Due: dsl-langium

feat: remove `sdsschema` extension
  DSL-langium/langium-config.json
  DSL-langium/package.json
  DSL-langium/src/extension.ts
  DSL-langium/src/language-server/constant/fileExtensions.ts
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
Due: dsl-langium

test: grammar tests
  .eslintignore
  DSL-langium/tests/grammar/IssueFinderTest.kt
  DSL-langium/tests/grammar/grammarTest.test.ts
  DSL-langium/tests/helpers/testChecks.ts
  DSL-langium/tests/helpers/testResources.ts
  DSL-langium/tests/resources/grammar/modules/bad-annotation between package and import.sdstest
  DSL-langium/tests/resources/grammar/modules/bad-duplicate package.sdstest
  DSL-langium/tests/resources/grammar/modules/bad-import before declaration
  DSL-langium/tests/resources/grammar/modules/bad-import before package.sdstest
  DSL-langium/tests/resources/grammar/modules/good-complex example.sdstest
  DSL-langium/tests/resources/grammar/modules/good-empty.sdstest
  DSL-langium/tests/resources/grammar/modules/good-lone annotation call.sdstest
  DSL-langium/vitest.config.ts
  tsconfig.eslint.json
Due: dsl-langium

ci: generate langium files
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

feat: langium grammar
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL/langium/SafeDS-todo.langium
  DSL/langium/SafeDS-types-todo.langium
  DSL/langium/SafeDS.langium
Due: dsl, dsl-langium

feat: langium grammar
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL/langium/SafeDS-todo.langium
  DSL/langium/SafeDS-types-todo.langium
Due: dsl, dsl-langium

feat: langium grammar
  DSL/langium/SafeDS-todo.langium
  DSL/langium/SafeDS-types-todo.langium
Due: dsl

feat: langium grammar
  DSL-langium/src/language-server/grammar/safe-ds.langium
Due: dsl-langium

feat: langium grammar
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
Due: dsl-langium

ci: compile TypeScript
  .github/workflows/main.yml
  .github/workflows/pr.yml
Due: none

build: fix build error
  DSL-langium/package-lock.json
Due: dsl-langium

build: fix build error
  DSL-langium/package.json
Due: dsl-langium

build: fix broken paths
  DSL-langium/bin/cli
  DSL-langium/src/extension.ts
Due: dsl-langium

build: ignore ts error
  DSL-langium/src/language-server/main.ts
Due: dsl-langium

fix: some failing tests
  DSL-langium/src/language-server/grammar/safe-ds.langium
Due: dsl-langium

fix: remove predicate tests
  DSL-langium/tests/resources/grammar/declarations/predicates/goals/goalsWithArguments.sdstest
  DSL-langium/tests/resources/grammar/declarations/predicates/predicate.sdstest
  DSL-langium/tests/resources/grammar/declarations/predicates/predicateComplex.sdstest
  DSL-langium/tests/resources/grammar/declarations/predicates/predicateWithGoals.sdstest
  DSL-langium/tests/resources/grammar/declarations/predicates/predicateWithSchemaEffects.sdstest
Due: dsl-langium

fix: get all tests passing
  DSL-langium/src/language-server/grammar/safe-ds.langium
Due: dsl-langium

test: additional grammar tests
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL-langium/tests/resources/grammar/expressions/call.sdstest
  DSL-langium/tests/resources/grammar/expressions/comparisonOperator.sdstest
Due: dsl-langium

test: additional grammar tests
  DSL-langium/tests/resources/grammar/expressions/call.sdstest
Due: dsl-langium

feat: terminal fragments
  DSL-langium/src/language-server/grammar/safe-ds.langium
Due: dsl-langium

style: apply automated linter fixes
  DSL-langium/src/language-server/constant/fileExtensions.ts
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
  DSL-langium/tests/grammar/grammarTest.test.ts
  DSL-langium/tests/helpers/testResources.test.ts
  tsconfig.eslint.json
Due: dsl-langium

build: specify base directory for tests
  DSL-langium/package.json
Due: dsl-langium

feat: remove parenthesized types
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL-langium/tests/resources/grammar/types/memberType.sdstest
  DSL-langium/tests/resources/grammar/types/parenthesizedType.sdstest
  docs/language/common/types.md
Due: dsl-langium

fix: grammar ambiguity
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
Due: dsl-langium

style: apply automated linter fixes
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
Due: dsl-langium

fix: extension of test files
  DSL-langium/src/language-server/grammar/safe-ds.langium
  DSL-langium/syntaxes/safe-ds.tmLanguage.json
  DSL-langium/tests/resources/grammar/schema/schema.sdstest
  DSL-langium/tests/resources/grammar/trailingCommas/inSchema_ColumnList.sdstest
Due: dsl-langium
