Repository Safe-DS/DSL: changes, and which Codecov flags are due for each by the changed paths.
All: dsl, runner, dsl-langium

codecov.yml:

codecov:
  notify:
    after_n_builds: 3

comment:
  layout: 'header, diff, flags, components, files'

component_management:
  individual_components:
    - component_id: module_dsl
      name: dsl
      paths:
        - DSL/**
    - component_id: module_runner
      name: runner
      paths:
        - Runner/**
    - component_id: module_dsl_langium
      name: dsl-langium
      paths:
        - DSL-langium/**

test: more descriptive failure message
  DSL/tests/resources/scoping/annotation calls/test1/main.sdstest
  DSL/tests/scoping/testScoping.test.ts
Due: dsl

build: bump dependencies
  DSL/package-lock.json
  DSL/package.json
Due: dsl

test: stringify locations
  DSL/tests/helpers/stringification.test.ts
  DSL/tests/helpers/stringification.ts
Due: dsl

docs: improve documentation for test helpers
  DSL/tests/helpers/testChecks.ts
  DSL/tests/helpers/testComments.ts
Due: dsl

test: use locations to for test checks
  DSL/tests/helpers/testChecks.test.ts
Due: dsl

test: split test creators from actual test code
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
Due: dsl

test: clear documents between tests to avoid colliding file names in workspace
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/scoping/creator.ts
Due: dsl

test: formatter should be idempotent
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/scoping/creator.ts
Due: dsl

test: helpers to stringify positions, ranges, locations
  DSL/tests/helpers/stringification.test.ts
  DSL/tests/helpers/stringification.ts
Due: dsl

test: 0-based indexing for lines and columns
  DSL/tests/helpers/testRanges.test.ts
  DSL/tests/helpers/testRanges.ts
Due: dsl

test: move test generation code to separate files
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/helpers/testChecks.test.ts
  DSL/tests/helpers/testChecks.ts
  DSL/tests/helpers/testComments.ts
Due: dsl

style: apply automated linter fixes
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/helpers/stringification.ts
  DSL/tests/helpers/testChecks.test.ts
  DSL/tests/helpers/testChecks.ts
  DSL/tests/helpers/testRanges.ts
Due: dsl

test: improve tests for formatter and grammar (#544)
  DSL/package-lock.json
  DSL/package.json
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/helpers/stringification.test.ts
  DSL/tests/helpers/stringification.ts
  DSL/tests/helpers/testChecks.test.ts
  DSL/tests/helpers/testChecks.ts
  DSL/tests/helpers/testComments.ts
  DSL/tests/helpers/testRanges.test.ts
  DSL/tests/helpers/testRanges.ts
Due: dsl

refactor: clean up code
  DSL/src/language-server/safe-ds-module.ts
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/helpers/location.test.ts
  DSL/tests/helpers/location.ts
  DSL/tests/helpers/stringification.test.ts
  DSL/tests/helpers/stringification.ts
  DSL/tests/helpers/testRanges.ts
  DSL/tests/resources/scoping/annotation calls/test1/main.sdstest
  DSL/tests/scoping/creator.ts
  DSL/tests/scoping/testScoping.test.ts
  DSL/tsconfig.json
Due: dsl

style: apply automated linter fixes
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/helpers/location.ts
  DSL/tests/scoping/testScoping.test.ts
  DSL/tsconfig.json
Due: dsl

test: fix failing tests
  DSL/tests/helpers/testRanges.test.ts
  DSL/tests/helpers/testRanges.ts
Due: dsl

docs: how to write scoping tests
  docs/development/formatting-testing.md
  docs/development/grammar-testing.md
  docs/development/scoping-testing.md
  mkdocs.yml
Due: none

test: data-driven scope testing (#546)
  DSL/src/language-server/safe-ds-module.ts
  DSL/tests/formatting/creator.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/creator.ts
  DSL/tests/grammar/testGrammar.test.ts
  DSL/tests/helpers/location.test.ts
  DSL/tests/helpers/location.ts
  DSL/tests/helpers/stringification.test.ts
  DSL/tests/helpers/stringification.ts
  DSL/tests/helpers/testRanges.test.ts
  DSL/tests/helpers/testRanges.ts
  DSL/tests/resources/scoping/annotation calls/test1/main.sdstest
  DSL/tests/resources/scoping/annotation calls/test1/resource1.sdstest
  DSL/tests/scoping/creator.ts
  DSL/tests/scoping/testScoping.test.ts
  DSL/tsconfig.json
  docs/development/formatting-testing.md
  docs/development/grammar-testing.md
  docs/development/scoping-testing.md
  mkdocs.yml
Due: dsl

chore: remove runner
  .github/workflows/main.yml
  .github/workflows/pr.yml
  Runner/.coveragerc
  Runner/poetry.lock
  Runner/pyproject.toml
  Runner/safeds_runner/__init__.py
  Runner/safeds_runner/codegen/__init__.py
  Runner/safeds_runner/codegen/_operators.py
  Runner/tests/__init__.py
  Runner/tests/codegen/__init__.py
  Runner/tests/codegen/test_eager_and.py
  Runner/tests/codegen/test_eager_elvis.py
  Runner/tests/codegen/test_eager_or.py
  Runner/tests/codegen/test_safe_access.py
Due: runner

docs: move Langium's quickstart guide to docs
  docs/development/langium-quickstart.md
  mkdocs.yml
Due: none

style: apply automated linter fixes
  tsconfig.eslint.json
Due: none

test: also check expected formatted code for syntax errors
  tests/formatting/creator.ts
  tests/helpers/diagnostics.ts
Due: none

refactor: call new function to get syntax errors
  tests/grammar/testGrammar.test.ts
Due: none

test: check scoping tests for syntax errors
  tests/helpers/testFileErrors.ts
  tests/scoping/creator.ts
  tests/scoping/testScoping.test.ts
Due: none

refactor: extract method to get test resources grouped by parent directory
  tests/helpers/testResources.test.ts
  tests/helpers/testResources.ts
  tests/scoping/creator.ts
Due: none

refactor: rename some parameters
  tests/formatting/creator.ts
  tests/grammar/creator.ts
  tests/scoping/creator.ts
Due: none

build: bundle with ESBuild
  docs/development/langium-quickstart.md
  esbuild.mjs
  langium-config.json
  package-lock.json
  package.json
  src/cli/cli-util.ts
  src/cli/generator.ts
  src/cli/main.ts
  src/extension/main.ts
  src/language/constant/fileExtensions.ts
  src/language/formatting/safe-ds-formatter.ts
  src/language/grammar/safe-ds.langium
  src/language/helpers/astShortcuts.ts
  src/language/main.ts
  src/language/safe-ds-module.ts
  src/language/validation/safe-ds-validator.ts
  tests/formatting/creator.ts
  tests/formatting/testFormatter.test.ts
  tests/grammar/testGrammar.test.ts
  tests/helpers/testResources.ts
  tests/scoping/testScoping.test.ts
  tsconfig.json
Due: none

refactor: remove SdsObject type as common supertype
  src/language/grammar/safe-ds.langium
Due: none

build: bump langium to 2.0.2
  .eslintrc.cjs
  package-lock.json
  package.json
  tsconfig.eslint.json
Due: none

test: get tests running again
  tests/helpers/location.test.ts
  tests/helpers/testChecks.test.ts
  tests/helpers/testChecks.ts
  tests/helpers/testComments.test.ts
  tests/helpers/testRanges.test.ts
  tests/helpers/testRanges.ts
  tests/helpers/testResources.test.ts
  tests/helpers/testResources.ts
  tests/language/formatting/creator.ts
  tests/language/formatting/testFormatter.test.ts
  tests/language/grammar/creator.ts
  tests/language/grammar/testGrammar.test.ts
  tests/language/scoping/creator.ts
  tests/language/scoping/testScoping.test.ts
  vitest.config.ts
Due: none

refactor: add SdsObject super-interface again
  src/language/grammar/safe-ds.langium
Due: none

test: get tests working again
  tests/helpers/diagnostics.ts
  tests/helpers/testFileErrors.ts
  tests/language/formatting/creator.ts
  tests/language/formatting/testFormatter.test.ts
  tests/language/grammar/creator.ts
  tests/language/grammar/testGrammar.test.ts
  tests/language/scoping/creator.ts
  tests/language/scoping/testScoping.test.ts
Due: none

refactor: array with all supported file extensions in src
  src/language/constant/fileExtensions.ts
  tests/helpers/testResources.ts
Due: none

refactor: normalize structure of test creation
  tests/helpers/testResources.test.ts
  tests/language/formatting/creator.ts
  tests/language/formatting/testFormatting.test.ts
  tests/language/grammar/creator.ts
  tests/language/validation/creator.ts
Due: none

test: add tests for name convention
  tests/resources/validation/name convention/__block_lambda_ prefix/annotations.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/attributes.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/block lambda results.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/classes.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/enum variants.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/enums.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/functions.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/parameters.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/pipelines.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/placeholders.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/results.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/segments.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/type parameters.sdstest
  tests/resources/validation/name convention/casing of declaration names/annotations.sdstest
  tests/resources/validation/name convention/casing of declaration names/attributes.sdstest
  tests/resources/validation/name convention/casing of declaration names/block lambda results.sdstest
  tests/resources/validation/name convention/casing of declaration names/classes.sdstest
  tests/resources/validation/name convention/casing of declaration names/enum variants.sdstest
  tests/resources/validation/name convention/casing of declaration names/enums.sdstest
  tests/resources/validation/name convention/casing of declaration names/functions.sdstest
  tests/resources/validation/name convention/casing of declaration names/parameters.sdstest
  tests/resources/validation/name convention/casing of declaration names/pipelines.sdstest
  tests/resources/validation/name convention/casing of declaration names/placeholders.sdstest
  tests/resources/validation/name convention/casing of declaration names/results.sdstest
  tests/resources/validation/name convention/casing of declaration names/segments.sdstest
  tests/resources/validation/name convention/casing of declaration names/type parameters.sdstest
  tests/resources/validation/name convention/casing of package names/package name lowercase.sdstest
  tests/resources/validation/name convention/casing of package names/package name snake case.sdstest
  tests/resources/validation/name convention/casing of package names/package name underscore.sdstest
  tests/resources/validation/name convention/casing of package names/package uppercase.sdstest
Due: none

test: create validation tests
  tests/language/formatting/creator.ts
  tests/language/validation/creator.ts
Due: none

test: restructure name convention tests
  tests/resources/validation/name convention/__block_lambda_ prefix/packages with block lambda prefix.sdstest
  tests/resources/validation/name convention/__block_lambda_ prefix/packages without block lambda prefix.sdstest
  tests/resources/validation/name convention/casing of declaration names/package name leading underscore.sdstest
  tests/resources/validation/name convention/casing of declaration names/package name lowercase.sdstest
  tests/resources/validation/name convention/casing of declaration names/package name snake case.sdstest
  tests/resources/validation/name convention/casing of declaration names/package name uppercase.sdstest
Due: none
