Repository Safe-DS/DSL: changes, and which Codecov flags are due for each by the changed paths.
All: dsl, runner, dsl-langium

feat: grammar tests for class attributes and methods
  DSL-langium/tests/resources/grammar/declarations/classes/attributes/good-annotated.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/attributes/good-no type.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/attributes/good-static.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/attributes/good-with type.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/bad-missing parameter list.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/bad-unclosed constraint list.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/bad-unclosed parameter list.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/bad-unclosed type parameter list.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-annotated type parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-annotation call.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-contravariant type parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-covariant type parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-empty type parameter list.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-invariant type parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-multiple parameters.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-multiple results.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-multiple type parameters.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-no parameters and no results.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-no results (explicit).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-one typed result (in parentheses).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-one typed result (no parentheses).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-one untyped result (no parentheses).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-one untyped result (with parentheses).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-static.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with multiple constraints.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with sub constraint.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with super constraint.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with typed optional parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with typed required parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with typed variadic parameter (with default value).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with typed variadic parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with untyped optional parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with untyped required parameter.sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with untyped variadic parameter (with default value).sdstest
  DSL-langium/tests/resources/grammar/declarations/classes/methods/good-with untyped variadic parameter.sdstest
Due: dsl-langium

fix: error when hovering over class members
  DSL-langium/src/language-server/grammar/safe-ds.langium
Due: dsl-langium

docs: installation of VS Code extension
  docs/README.md
Due: none

test: ignore `TYPE_CHECKING` blocks when computing coverage
  Runner/.coveragerc
Due: runner

test: ignore `TYPE_CHECKING` blocks when computing coverage (#471)
  Runner/.coveragerc
Due: runner

chore ignore `.DS_Store` files
  .gitignore
Due: none

ci: disable a `ruff` rule
  .github/linters/.ruff.toml
Due: none

docs: swap installation and documentation
  docs/README.md
Due: none

ci: set permissions of `GITHUB_TOKEN`
  .github/workflows/megalinter.yml
Due: none

ci: fix MegaLinter `PRE_COMMANDS`
  .mega-linter.yml
Due: none

docs: remove old development tutorials
  docs/development/dsl-development-checklist.md
  docs/development/release-checklist.md
  mkdocs.yml
Due: none

chore: remove some outdated references
  .gitignore
  .mega-linter.yml
  codecov.yml
  tsconfig.eslint.json
Due: none

build: update all dependencies of DSL component
  DSL/package-lock.json
  DSL/package.json
  DSL/syntaxes/safe-ds.tmLanguage.json
Due: dsl

style: apply automated linter fixes
  DSL/syntaxes/safe-ds.tmLanguage.json
  tsconfig.eslint.json
Due: dsl

build: replace @vitest/coverage-c8 with @vitest/coverage-v8
  DSL/package-lock.json
  DSL/package.json
Due: dsl

test: collect formatting tests
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/testGrammar.test.ts
Due: dsl

feat: get started with formatter
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/src/language-server/helpers/astShortcuts.ts
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/resources/formatting/modules/annotationUsesWithImports.sdstest
  DSL/tests/resources/formatting/modules/annotationUsesWithName.sdstest
  DSL/tests/resources/formatting/modules/full.sdstest
  DSL/tests/resources/formatting/modules/importsAndMembers.sdstest
  DSL/tests/resources/formatting/modules/nameAndMembers.sdstest
Due: dsl

feat: WIP
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/formatting/testFormatter.test.ts
Due: dsl

refactor: remove behavior protocol syntax
  DSL/src/language-server/grammar/safe-ds.langium
  DSL/syntaxes/safe-ds.tmLanguage.json
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with alternative as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with alternative as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with complement as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with complement as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with parenthesized term as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with parenthesized term as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with sequence as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with token as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with token class as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-subterm after term.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-subterm without semicolon.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-alternative.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-complement without reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-complement.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-empty.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-parenthesizedTerm.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-quantifiedTerm.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-sequence.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-subterms.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-token.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-tokenClasses.sdstest
  DSL/tests/resources/grammar/keywords as names/bad-unescaped protocol.sdstest
  DSL/tests/resources/grammar/keywords as names/bad-unescaped subterm.sdstest
Due: dsl

ci: don't run MegaLinter on generated syntax file
  .mega-linter.yml
Due: none

refactor: remove behavior protocol syntax (#518)
  .mega-linter.yml
  DSL/src/language-server/grammar/safe-ds.langium
  DSL/syntaxes/safe-ds.tmLanguage.json
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with alternative as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with alternative as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with complement as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with complement as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with parenthesized term as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with parenthesized term as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with sequence as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with token as universe.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-complement with token class as reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-subterm after term.sdstest
  DSL/tests/resources/grammar/declarations/protocols/bad-subterm without semicolon.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-alternative.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-complement without reference list.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-complement.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-empty.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-parenthesizedTerm.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-quantifiedTerm.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-sequence.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-subterms.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-token.sdstest
  DSL/tests/resources/grammar/declarations/protocols/good-tokenClasses.sdstest
  DSL/tests/resources/grammar/keywords as names/bad-unescaped protocol.sdstest
  DSL/tests/resources/grammar/keywords as names/bad-unescaped subterm.sdstest
Due: dsl

test: remove tests related to behavior protocols
  DSL/tests/resources/formatting/declarations/protocols/alternative.sdstest
  DSL/tests/resources/formatting/declarations/protocols/body.sdstest
  DSL/tests/resources/formatting/declarations/protocols/complement.sdstest
  DSL/tests/resources/formatting/declarations/protocols/empty.sdstest
  DSL/tests/resources/formatting/declarations/protocols/full.sdstest
  DSL/tests/resources/formatting/declarations/protocols/parenthesizedTerm.sdstest
  DSL/tests/resources/formatting/declarations/protocols/protocols and members in one class.sdstest
  DSL/tests/resources/formatting/declarations/protocols/quantifiedTerm.sdstest
  DSL/tests/resources/formatting/declarations/protocols/sequence.sdstest
  DSL/tests/resources/formatting/declarations/protocols/subterm.sdstest
  DSL/tests/resources/formatting/declarations/protocols/subtermList.sdstest
Due: dsl

test: fail formatter tests if files contain syntax errors
  DSL/tests/formatting/testFormatter.test.ts
  DSL/tests/grammar/testGrammar.test.ts
Due: dsl

test: fix syntax errors in formatting tests
  DSL/tests/resources/formatting/declarations/annotation.sdstest
  DSL/tests/resources/formatting/declarations/class.sdstest
  DSL/tests/resources/formatting/declarations/enumVariant.sdstest
  DSL/tests/resources/formatting/declarations/function.sdstest
Due: dsl

feat: better formatting
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/src/language-server/helpers/astShortcuts.ts
Due: dsl

feat: additional formatting
  DSL/package-lock.json
  DSL/package.json
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/resources/formatting/declarations/nested Enum.sdstest
  DSL/tsconfig.json
Due: dsl

feat: additional formatting
  DSL/src/language-server/formatting/safe-ds-formatter.ts
Due: dsl

feat: additional formatting
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/resources/formatting/declarations/annotation.sdstest
Due: dsl

feat: additional formatting
  DSL/src/language-server/formatting/safe-ds-formatter.ts
  DSL/tests/resources/formatting/types/callableType.sdstest
Due: dsl

Path conditions:
  dsl: any of: DSL/**
  runner: any of: Runner/**
  dsl-langium: any of: DSL-langium/**
